article#project-section {
	@include wh;
	@include gridColRow(col-2,col-3,row-1,row-2);
	display: grid;
	grid-template-columns: [col-1] 1fr [col-2];
	grid-template-rows: [row-1] 1fr [row-2] 1fr [row-3] 1fr [row-4] 1fr [row-5] 1fr [row-6] 1fr [row-7];

	div#project-title {
		@include gridColRow(col-1, col-2, row-2, row-3);
		@include flex;
		background: $primary-blue;

		h3 {
			font-size: 3rem;
			font-weight: bold;
			color: #fdfdfd;
		}
	}

	a {
		@include wh;
		display: block;
		text-decoration: none;

		div.my-projects {
			@include wh;
			display: grid;
			grid-template-columns: [col-1] 128px [col-2] 1fr [col-3];
			grid-template-rows: [row-1] 1fr [row-2];
			/*background: #84577C; */
			figure.project-figs {
				@include wh;
				@include gridColRow(col-1, col-2, row-1, row-2);
				display: block;
				margin: 0;
			}

			p.project-names {
				@include gridColRow(col-2, col-3, row-1, row-2);
				@include gridItemPosition;
				font-size: 2rem;
				color: #fdfdfd;
				margin: 0;
			}
		}

		&:hover {
			opacity: 0.9;
		}
	}

	a#project-1-a {
		@include gridColRow(col-1, col-2, row-1, row-2);
		background: $primary-blue;

		div#my-project-1 {
			figure.project-figs {
				@include bgimg('../img/icon-movie.jpg', no-repeat, center, center, cover);
			}

			p {
				color: #fdfdfd;
			}
		}
	}

	a#project-2-a {
		@include gridColRow(col-1, col-2, row-3, row-4);
		background: $secondary-blue;

		div#my-project-2 {
			figure.project-figs {
				@include bgimg('../img/icon-foody.jpg', no-repeat, center, center, cover);
			}
		}
	}

	a#project-3-a {
		@include gridColRow(col-1, col-2, row-4, row-5);
		background: $secondary-blue;

		div#my-project-3 {
			figure.project-figs {
				@include bgimg('../img/icon-coffee.jpg', no-repeat, center, center, cover);
			}
		}
	}

	a#project-4-a {
		@include gridColRow(col-1, col-2, row-5, row-6);
		background: $third-blue;

		div#my-project-4 {
			figure.project-figs {
				@include bgimg('../img/icon-mars.jpg', no-repeat, center, center, cover);
			}
		}
	}

	a#project-5-a {
		@include gridColRow(col-1, col-2, row-6, row-7);
		background: $third-blue;

		div#my-project-5 {
			figure.project-figs {
				@include bgimg('../img/icon-shoes.jpg', no-repeat, center, center, cover);
			}
		}
	}
}
