section#right-container {
	@include wh(normal, 100%, 100vh);
	@include gridColRow(2,3,1,2);
	background: $third-blue;
	position: relative;
	display: grid;
	grid-template-columns: [col-1] 8fr [col-2] 1fr [col-3];
	grid-template-rows: [row-1] 100px [row-2] 1fr [row-3] 100px [row-4];

	div#right-title-wrap {
		@include wh;
		@include gridColRow(1,3,1,2);
		@include flex(space-between, center);
		padding: 0 1rem;

		p.past {
			margin: 0;
			position: relative;
			font-size: 3rem;
			color: #333;
			opacity: 0.1;
			text-transform: uppercase;
		}
	}

	div#right-panel {
		@include wh;
		@include gridColRow(col-1,col-2,row-2,row-3);
		background: #ECFAFB;
		display: grid;
		grid-template-columns: [col-1] 2fr [col-2] 1fr [col-3];
		grid-template-rows: [row-1] 1fr [row-2];

		main#main-info {
			@include gridColRow(col-1, col-2, row-1, row-2);
			background: #fff;
			display: grid;
			grid-template-columns: [col-1] 1fr [col-2];
			grid-template-rows: [row-1] 1fr [row-2] 1fr [row-3] 1fr [row-4];

			div#info-wrap {
				@include gridColRow(col-1, col-2, row-1, row-2);
				background: #fdfdfd;
				display: grid;
				grid-template-columns: [col-1] 250px [col-2] 2fr [col-3];
				grid-template-rows: [row-1] 1fr [row-2];

				figure#my-fig {
					margin: 0;
					padding: 0;
					@include gridColRow(col-1, col-2, row-1, row-2);
					@include bgimg('../img/maxfig.jpg', no-repeat, center, top, cover);
				}

				div#my-info {
					@include gridColRow(col-2, col-3, row-1, row-2);
					display: grid;
					grid-template-columns: [col-1] 1fr [col-2];
					grid-template-rows: [row-1] 1fr [row-2] 1fr [row-3];
					background: $primary-blue;
					/*404969*/
					h1#my-name {
						@include gridColRow(col-1, col-2, row-1, row-2);
						@include gridItemPosition(center, center);
						margin: 0.5rem;
						font-weight: bold;
						font-size: 2.5rem;
						color: #fdfdfd;
					}

					div#my-social {
						@include gridColRow(col-1, col-2, row-2, row-3);
						background: $primary-blue;
						display: grid;
						grid-template-columns: [col-1] 125px [col-2] 125px [col-3] 1fr [col-4];
						grid-template-rows: [row-1] 1fr [row-2];

						a {
							@include wh;
							@include gridItemPosition(center, center);
							display: inline-block;
						}

						a#social-github {
							@include gridColRow(col-1, col-2, row-1, row-2);
							@include bgimg('../img/github.jpg', no-repeat, center, center, cover);
						}

						a#social-linkedin {
							@include gridColRow(col-2, col-3, row-1, row-2);
							@include bgimg('../img/linkedin.jpg', no-repeat, center, center, cover);
						}
					}
				}
			}

			div#my-details {
				@include gridColRow(col-1, col-2, row-2, row-4);
				background: #D9FAFF;
				display: grid;
				grid-template-columns: [col-1] 1fr [col-2];
				grid-template-rows: [row-1] 1fr [row-2] 1fr [row-3];

				div#my-skill-wrap {
					@include wh;
					@include flex(center, center);
					padding: 1rem;
					background: $secondary-blue;
					color: #fdfdfd;

					p#my-skills {
						font-size: 1.15rem;
						line-height: 2;
						font-weight: bold;
					}
				}
			}
		}
	}
}
